agents/venv
agents/sketches
agents/.env
agents/ngrok.tgz
**/__pycache__/
*.pyc
agents/scripts
env/

backend/node_modules
backend/.env
backend/dist


frontend/node_modules
frontend/.env
frontend/dist
frontend/.next
frontend/out
frontend/build

.vscode